[Unit]
Description=Run docker-services image update check daily

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=15min
AccuracySec=1min
Persistent=true
Unit=docker-services-image-check.service

[Install]
WantedBy=timers.target
