{
	email admin@wormlogic.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(dns_tls) {
	tls {
		propagation_delay 30s
		propagation_timeout -1
	}
}

search.wormlogic.com {
	import dns_tls
	reverse_proxy searxng:8080
}

type.wormlogic.com {
	import dns_tls
	reverse_proxy monkeytype-frontend:80
}

type-api.wormlogic.com {
	import dns_tls
	reverse_proxy monkeytype-backend:5005
}

automate.wormlogic.com {
	import dns_tls
	reverse_proxy n8n:5678
}

ha.wormlogic.com {
	import dns_tls
	reverse_proxy 10.42.20.4:8123
}

pantry.wormlogic.com {
	import dns_tls
	reverse_proxy grocy:80
}

esphome.wormlogic.com {
	import dns_tls
	reverse_proxy 10.42.20.4:6052
}

ix.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.20.5:9119
}

omada.wormlogic.com {
	import dns_tls

	reverse_proxy https://10.42.20.4:8043 {
		transport http {
			tls_insecure_skip_verify
		}

		header_up Host {host}:8043
		header_down Location :8043 :443
	}
}

ntopng.wormlogic.com {
        import dns_tls
        reverse_proxy http://10.42.10.1:3000
}

pihole1.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.20.10:80
}

pihole2.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.20.11:80
}

dashboard.wormlogic.com {
    import dns_tls
    reverse_proxy homepage:3000
}

glance.wormlogic.com {
    import dns_tls
    reverse_proxy glance:8080
}

plex.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:32400
}

sonarr.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:8989
}

radarr.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:7878
}

whisparr.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:6969
}

prowlarr.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:9696
}

emby.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:8096
}

qbittorrent.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:8080
}

stash.wormlogic.com {
    import dns_tls
    reverse_proxy 10.42.42.3:9999
}
